In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore") 
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [2]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [3]:
df['price'] = df['MSRP'] 
#need to use only these columns:
df = df[['Make','Model','Year','Engine HP','Engine Cylinders','Transmission Type','Vehicle Style','highway MPG','city mpg','price']]

In [4]:
df.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [5]:
#Data Preparation
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [6]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
price                 0
dtype: int64

In [7]:
df[['engine_hp', 'engine_cylinders']] = df[['engine_hp', 'engine_cylinders']].fillna(0)

In [8]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

# Question 1
What is the most frequent observation (mode) for the column transmission_type?

In [9]:
#Use mode method to check the most frequent
df['transmission_type'].mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

# Question 2
Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

What are the two features that have the biggest correlation in this dataset?

In [10]:
#engine_hp and year
df[['engine_hp']].corrwith(df['year'])

engine_hp    0.338714
dtype: float64

In [11]:
#engine_hp and engine_cylinders
df[['engine_hp']].corrwith(df['engine_cylinders'])

engine_hp    0.774851
dtype: float64

In [12]:
#highway_mpg and engine_cylinders
df[['highway_mpg']].corrwith(df['engine_cylinders'])

highway_mpg   -0.614541
dtype: float64

In [13]:
#highway_mpg and city_mpg
df[['highway_mpg']].corrwith(df['city_mpg'])

highway_mpg    0.886829
dtype: float64

the biggest correlation in this dataset between 2 features consists of:
1. highway_mpg and city_mpg

# Make price binary
Now we need to turn the price variable from numeric into a binary format.
Let's create a variable above_average which is 1 if the price is above its mean value and 0 otherwise.

In [14]:
#copy dataset
df_copy = df

In [15]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [16]:
mean = df['price'].mean()

binary = []
for i in range(len(df)):
    if df['price'][i] > mean:
        binary.append(1)
    else:
        binary.append(0)
        
df['above_average'] = binary

In [17]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0

# Split the data
Split your data in train/val/test sets with 60%/20%/20% distribution.
Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
Make sure that the target value (above_average) is not in your dataframe.

In [18]:
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

np.random.seed(42)

n = len(df)

n_val = int(n * 0.2)
n_test = int(n * 0.2)
n_train = n - (n_val + n_test)

idx = np.arange(n)
np.random.shuffle(idx)

df_shuffled = df.iloc[idx]

df_train = df_shuffled.iloc[:n_train]
df_val = df_shuffled.iloc[n_train:n_train+n_val]
df_test = df_shuffled.iloc[n_train+n_val:]

In [19]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [20]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

In [21]:
df_train.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,Mitsubishi,Endeavor,2011,225.0,6.0,AUTOMATIC,4dr SUV,19,15,33599,0
1,Kia,Borrego,2009,276.0,6.0,AUTOMATIC,4dr SUV,21,17,26245,0
2,Lamborghini,Gallardo,2012,570.0,10.0,MANUAL,Convertible,20,12,248000,1
3,Chevrolet,Colorado,2016,200.0,4.0,AUTOMATIC,Crew Cab Pickup,27,20,24990,0
4,Pontiac,Vibe,2009,158.0,4.0,AUTOMATIC,4dr Hatchback,26,20,20475,0

In [22]:
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [23]:
del df_train['price']
del df_val['price']
del df_test['price']

# Question 3
Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.
Round the scores to 2 decimals using round(score, 2).
Which of these variables has the lowest mutual information score?

make
model
transmission_type
vehicle_style

In [24]:
numerical = ['year','engine_hp','engine_cylinders','highway_mpg','city_mpg']
categorical = ['make','model','transmission_type','vehicle_style']

In [25]:
from sklearn.metrics import mutual_info_score

def mutual_info_price_score(x):
    return round(mutual_info_score(x, y_train),2)

In [26]:
df_train[categorical].apply(mutual_info_price_score)

make                 0.24
model                0.46
transmission_type    0.02
vehicle_style        0.08
dtype: float64

In [ ]:
lowest mutual information score based on categorical field is transmission_type

# Question 4
Now let's train a logistic regression.
Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
Fit the model on the training dataset.
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
Calculate the accuracy on the validation dataset and round it to 2 decimal digits.
What accuracy did you get?

0.60
0.72
0.84
0.95

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')
df_train['make'] = ohe.fit_transform(df_train[['make']].values)
df_train['model'] = ohe.fit_transform(df_train[['model']].values)
df_train['transmission_type'] = ohe.fit_transform(df_train[['transmission_type']].values)
df_train['vehicle_style'] = ohe.fit_transform(df_train[['vehicle_style']].values)

In [27]:
from sklearn.feature_extraction import DictVectorizer

In [28]:
train_dict = df_train[categorical + numerical].to_dict(orient='records')

In [29]:
train_dict[0]

{'make': 'Mitsubishi',
 'model': 'Endeavor',
 'transmission_type': 'AUTOMATIC',
 'vehicle_style': '4dr SUV',
 'year': 2011,
 'engine_hp': 225.0,
 'engine_cylinders': 6.0,
 'highway_mpg': 19,
 'city_mpg': 15}

In [30]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [31]:
df_train = dv.transform(train_dict)

In [32]:
df_train

array([[1.500e+01, 6.000e+00, 2.250e+02, ..., 0.000e+00, 0.000e+00,
        2.011e+03],
       [1.700e+01, 6.000e+00, 2.760e+02, ..., 0.000e+00, 0.000e+00,
        2.009e+03],
       [1.200e+01, 1.000e+01, 5.700e+02, ..., 0.000e+00, 0.000e+00,
        2.012e+03],
       ...,
       [1.700e+01, 6.000e+00, 2.600e+02, ..., 0.000e+00, 0.000e+00,
        2.012e+03],
       [1.900e+01, 4.000e+00, 1.360e+02, ..., 0.000e+00, 0.000e+00,
        1.993e+03],
       [1.700e+01, 6.000e+00, 3.650e+02, ..., 1.000e+00, 0.000e+00,
        2.015e+03]])

In [33]:
#Training the model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(df_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [34]:
val_dict = df_val[categorical + numerical].to_dict(orient='records')
df_val = dv.transform(val_dict)

df_val['make'] = ohe.fit_transform(df_val[['make']].values)
df_val['model'] = ohe.fit_transform(df_val[['model']].values)
df_val['transmission_type'] = ohe.fit_transform(df_val[['transmission_type']].values)
df_val['vehicle_style'] = ohe.fit_transform(df_val[['vehicle_style']].values)

In [35]:
#model.predict_proba(X_val)
y_pred = model.predict_proba(df_val)[:, 1]

In [36]:
accuracy = round(accuracy_score(y_val, y_pred>= 0.5),2)
accuracy

0.94

# Question 5
Let's find the least useful feature using the feature elimination technique.
Train a model with all these features (using the same parameters as in Q4).
Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
Which of following feature has the smallest difference?

year
engine_hp
transmission_type
city_mpg

In [37]:
def diff_accuracy(n,i):
    df_full_train, df_test = train_test_split(n, test_size=0.2, random_state=42)
    df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)
    
    df_train = df_train.reset_index(drop=True)
    df_val = df_val.reset_index(drop=True)
    df_test = df_test.reset_index(drop=True)
    
    X=df_train
    Y=df_val
    Z=df_test
    
    y_train = X.price.values
    y_val = Y.price.values
    y_test = Z.price.values
    
    del X['above_average']
    del Y['above_average']
    del Z['above_average']
    
    del X['price']
    del Y['price']
    del Z['price']
    
    X=X.loc[:, X.columns != i ]
    Y=Y.loc[:, Y.columns != i ]
    Z=Z.loc[:, Z.columns != i ]
    
    categorical = ['make','model','transmission_type','vehicle_style']
    numerical = ['year','engine_hp','engine_cylinders','highway_mpg','city_mpg']
    all_ = categorical+numerical
    all_.remove(i)
    
    
    train_dict = X.to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    dv.fit(train_dict)
    X = dv.transform(train_dict)
    
    val_dict = Y.to_dict(orient='records')
    Y = dv.transform(val_dict)

    #test_dict = Z[all_].to_dict(orient='records')
    #Z = dv.transform(test_dict)

#     X['make'] = ohe.fit_transform(X[['make']].values)
#     X['model'] = ohe.fit_transform(X[['model']].values)
#     X['transmission_type'] = ohe.fit_transform(X[['transmission_type']].values)
#     X['vehicle_style'] = ohe.fit_transform(X[['vehicle_style']].values)

#     Y['make'] = ohe.fit_transform(Y[['make']].values)
#     Y['model'] = ohe.fit_transform(Y[['model']].values)
#     Y['transmission_type'] = ohe.fit_transform(Y[['transmission_type']].values)
#     Y['vehicle_style'] = ohe.fit_transform(Y[['vehicle_style']].values)

#     Z['make'] = ohe.fit_transform(Z[['make']].values)
#     Z['model'] = ohe.fit_transform(Z[['model']].values)
#     Z['transmission_type'] = ohe.fit_transform(Z[['transmission_type']].values)
#     Z['vehicle_style'] = ohe.fit_transform(Z[['vehicle_style']].values)
        
    model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
    model.fit(X, y_train)

    y_pred = model.predict_proba(Y)[:, 1]
    accuracy = accuracy_score(y_val, y_pred>= 0.5)

    return accuracy

In [38]:
score = []
columns = ['year','engine_hp','transmission_type','city_mpg']
for i in columns: 
    score.append(diff_accuracy(df, str(i)))

In [39]:
print('diff_accuracy_without_year =',accuracy - score[0])
print('diff_accuracy_without_engine_hp =',accuracy - score[1])
print('diff_accuracy_without_transmission_type =',accuracy - score[2])
print('diff_accuracy_without_city_mpg =',accuracy - score[3])

diff_accuracy_without_year = 0.94
diff_accuracy_without_engine_hp = 0.94
diff_accuracy_without_transmission_type = 0.94
diff_accuracy_without_city_mpg = 0.94

Based on the result, as you can see with particular alpha, rmse score is similar. we can choose randomly from some option

# Question 6
For this question, we'll see how to use a linear regression model from Scikit-Learn.
We'll need to use the original column price. Apply the logarithmic transformation to this column.
Fit the Ridge regression model on the training data with a solver 'sag'. Set the seed to 42.
This model also has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10].
Round your RMSE scores to 3 decimal digits.
Which of these alphas leads to the best RMSE on the validation set?

In [40]:
#rmse
def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [41]:
#ridge model
def ridge(a):
    
    from sklearn.model_selection import train_test_split
    df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
    df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)
    
    df_train = df_train.reset_index(drop=True)
    df_val = df_val.reset_index(drop=True)
    df_test = df_test.reset_index(drop=True)

    y_train = np.log1p(df_train['price'].values)
    y_val = np.log1p(df_val['price'].values)
    y_test = np.log1p(df_test['price'].values)

    del df_train['price']
    del df_val['price']
    del df_test['price']
    
    del df_train['above_average']
    del df_val['above_average']
    del df_test['above_average']
    
    #df_train['ocean_proximity'] = ohe.fit_transform(df_train[categorical].values)
    categorical = ['make','model','transmission_type','vehicle_style']
    numerical = ['year','engine_hp','engine_cylinders','highway_mpg','city_mpg']
    
    train_dict = df_train[categorical+numerical].to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    dv.fit(train_dict)
    df_train = dv.transform(train_dict)
    
    from sklearn.linear_model import Ridge
    model = Ridge(alpha=a, solver="sag", random_state=42)
    model.fit(df_train, y_train)
    
    #one hot encoding for validation dataset
    #df_val['ocean_proximity'] = ohe.fit_transform(df_val[categorical].values)
    val_dict = df_val[categorical+numerical].to_dict(orient='records')
    df_val = dv.transform(val_dict)
    y_pred = model.predict(df_val)
    
    #Round the RMSE scores to 3 decimal digits.
    rmse_score = round(rmse(y_val, y_pred),3)
    
    return rmse_score

In [42]:
for r in [0, 0.01, 0.1, 1, 10]:
    print('alpha with %3s' %r, ':', ridge(r))

alpha with   0 : 0.487
alpha with 0.01 : 0.487
alpha with 0.1 : 0.487
alpha with   1 : 0.487
alpha with  10 : 0.487

Based on the result, as you can see with particular alpha, rmse score is similar. That's why, we will choose the smallest alpha is 0