In [1]:
#import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Question 1
What's the version of Pandas that you installed?

In [2]:
pd.__version__

'1.2.4'

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

In [4]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# Question 2
How many columns are in the dataset?

In [5]:
len(data.columns)

10

The total number of columns in the dataset is 10.

# Question 3
Which columns in the dataset have missing values?

In [6]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

total_bedrooms is a column that has a missing value in the dataset.

# Question 4
How many unique values does the ocean_proximity column have?

In [7]:
data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [8]:
len(data['ocean_proximity'].unique())

5

The ocean_proximity column has 5 unique values in the dataset.

# Question 5
What's the average value of the median_house_value for the houses located near the bay?

In [9]:
average = data[data['ocean_proximity']=='NEAR BAY']['median_house_value'].mean()
average

259212.31179039303

# Question 6
Calculate the average of total_bedrooms column in the dataset.
Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
Now, calculate the average of total_bedrooms again.
Has it changed?

In [10]:
mean = round(data['total_bedrooms'].mean(),3)
new_total_bedrooms=data['total_bedrooms'].fillna(mean)
new_mean = round(new_total_bedrooms.mean(),3)

#check new mean whether the value is different after fill missing values?
if new_mean != mean:
    print('Yes')
else:
    print('No')

No

Based on the result above, we can conclude that there is no difference between the original mean and the mean after filling in the missing values with the original mean.

# Question 7
Select all the options located on islands.
Select only columns housing_median_age, total_rooms, total_bedrooms.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [950, 1300, 800, 1000, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the last element of w?

In [11]:
#Select all the options located on islands.
df = data[data['ocean_proximity']=='ISLAND'].reset_index(drop=True)
#Select only columns housing_median_age, total_rooms, total_bedrooms.
new_df = df[['housing_median_age','total_rooms','total_bedrooms']]
#Get the underlying NumPy array. Let's call it X.
X = new_df.values
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T.dot(X)
#Compute the inverse of XTX.
XTX_inv = np.linalg.inv(XTX)
#Create an array y with values [950, 1300, 800, 1000, 1300].
y = [950, 1300, 800, 1000, 1300]
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv.dot(X.T).dot(y)
#What's the value of the last element of w?
w[-1]

5.699229455065575